@model IEnumerable<Epidemiologia.ListaModelos.SalidMedicL>

@{
    ViewData["Title"] = "Index";
}

<ol class="breadcrumb  badge-dark">
    <table class="egt col-md-12">
        <tr>
            <td align="left"> <h2>Salidas de EPP del almacen</h2></td>
            @*<td align="right"><h1><a asp-action="exportarExcel" asp-controller="Responsable" class="btn btn-light"><i class="fa fa-print" aria-hidden="true"></i></a></h1></td>*@
            <td align="right"><h1><a asp-action="Agregar" class="btn btn-warning"><i class="fa fa-plus-square" aria-hidden="true"></i></a></h1></td>
        </tr>
    </table>
</ol>
<table class="table" id="table">
    <thead class="badge-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SalidMedicId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Medicamento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Responsable)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cartserv)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PerSal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pertenencia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cantidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fecha_salida)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.SalidMedicId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Medicamento)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Responsable)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cartserv)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PerSal)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Pertenencia)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cantidad)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Fecha_salida)
                </td>
            </tr>
        }
    </tbody>
</table>
<div>
    Total: @Model.Sum(i => i.Cantidad)
</div>

<script src="~/js/generic.js"></script>
<script src="~/js/sweetalert.js"></script>