@model IEnumerable<Epidemiologia.Class.Categoria>

@{
    ViewData["Title"] = "Index";
}

<ol class="breadcrumb  badge-dark">
    <table class="egt col-md-12">
        <tr>
            <td align="left"> <h2>Listado de Categorias</h2></td>
            <td align="right"><h1><a asp-action="Create" class="btn btn-light">Nuevo</a></h1></td>
        </tr>
    </table>
</ol>

@*<form asp-controller="Distribucion" asp-action="Index" method="post" class="mb-2" style="display:grid; grid-template-columns:2fr 2fr 1fr 1fr" id="frmFormulario">
    <label><h5>Ingrese nombre categoria</h5></label>
    <input type="text" id="descripcion" class="form form-control" name="Descripcion" placeholder="Ingrese nombre de categoria" onkeyup="Buscar()" value="@descripcionmedicamento" />
    <input type="submit" value="Buscar" class="btn btn-success" />
    <input type="button" value="Limpiar" class="btn btn-danger" onclick="Limpiar()" />
</form>*@

<table class="table col-md-12" id="table">
    <thead class="badge-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Descripcion)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.CategoriaId" class="btn btn-primary">Editar</a> |
                    @*<a asp-action="Details" asp-route-id="@item.CategoriaId">Details</a> |*@
                    <a asp-action="Delete" asp-route-id="@item.CategoriaId" class="btn btn-danger" onclick="return confirm('Esta seguro de eliminar el registros?')">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<script src="~/js/generic.js"></script>
<script src="~/js/sweetalert.js"></script>

<script>

    function Limpiar() {
        document.getElementById("descripcion").value = "";
        document.getElementById("frmFormulario").submit();
    }

</script>